<div class="login register">
			<div class="container">
				<div class="row">
					<div class="col-xs-10">
						<div class="col-sm-4 hidden-xs left">
							<a href="index.html"><img src="__PUBLIC__images/ico/8-logo.png" alt="8-logo.png" /></a>
						</div>
						<div class="col-sm-8 col-xs-12 right">
							<h1><a href="javascript:history.back()"><img src="__PUBLIC__images/ico/8-cloes.png" alt="8-cloes.png"/></a></h1>
							<h2><span>登录</span></h2>
							<div class="input-group">
								<span class="img"><img src="__PUBLIC__images/ico/9-username.png" alt="9-username.png"/></span>
								<input class="form-control" type="text" name="user_name" id="login-user"/>
							</div>
							<div class="input-group">
								<span class="img"><img src="__PUBLIC__images/ico/9-passw.png" alt="9-passw.png"/></span>
								<input class="form-control" type="password" name="login-pass" id="login-pass"/>
								<span><a href="javascript:;">忘记密码</a>？</span>
							</div>
							<div class="input-group">
							<div class="left">
								<p>记住密码</p>
								<label>
									<input type="checkbox" name="new-user" id="new-user" value="" />
									<span>注册会员</span>
								</label>
							</div>
							<div class="right">
								<input type="button" name="" id="" value="确认" />
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>