<!--contain-->
<div class="news-center">
    <div class="container">
        <!--title-->
        <div class="title">
            <h3><span>新闻中心</span></h3>
            <h4>NEW  CENTER</h4>
            <p>
                当前位置 : <a href="/">首页</a>><a href="{U('index')}">新闻中心</a>>新闻详情
                <span>阅读量：66666</span>
            </p>
        </div>
        <div class="contenr">
            <h3>{$details.news_title}</h3>
            <div class="text">
                <p>{$details.content_one}</p>
            </div>
            <div class="pic">
                <ul>
                    <foreach name="details.news_pic" item="p">
                    <li><img src="/{$p.photo}" alt="4-news-center-1.jpg"/></li>
                    </foreach>
                </ul>
            </div>
            <div class="text">
                {$details.content_two}
            </div>
            <ul class="page">
                <li><a href="{:U('details',['id'=>$up['id']])}" <eq name="maxup['id']" value="$Think.get.id">style="display:none;"</eq>>上一篇：{$up.news_title}</a></li>
                <li><a href="{:U('details',['id'=>$down['id']])}" <eq name="maxdown['id']" value="$Think.get.id">style="display:none;"</eq>>下一篇：{$down.news_title}</a></li>
            </ul>
        </div>
        <!--title-end-->

    </div>
</div>
<!--contain-end-->