<form action="" method="">
    <!--contain-->
    <div class="pro_details">
        <div class="container">
            <!--title-->
            <div class="title">
                <h3><span>产品中心</span></h3>
                <h4>PRODUCT  CENTER</h4>
                <p>
                    当前位置 : <a href="{:U('Index/index')}">首页</a>><a href="{:U('index')}">产品中心</a>产品详情
                    <span>阅读量：66666</span>
                </p>
            </div>
            <!--title-end-->
            <div class="center">
                <ul class="pro-navbar row">
                    <ul class="pro-navbar row">
                        <li class="default col-sm-3 col-xs-6"><a href="{:U('index',['cid'=>3])}">新品上市</a></li>
                        <li class="col-sm-3 col-xs-6"><a href="{:U('index',['cid'=>4])}">MP4系列</a></li>
                        <li class="col-sm-3 col-xs-6"><a href="{:U('index',['cid'=>10])}">MP3系列</a></li>
                        <li class="col-sm-3 col-xs-6"><a href="{:U('index',['cid'=>5])}">促销系列</a></li>
                    </ul>
                </ul>
                <div class="detail">
                    <div class="pic">
                        <p><img src="/{$details.image}" alt="6-pro_details0" style="width: 480px;height: 553px;"/></p>
                        <ul class="row">
                            <foreach name="details.goods_pic" item="pic">
                                <li class="col-sm-3 col-xs-3">
                                    <img src="/{$pic.photo}" alt="6-pro_details-0.jpg" style="width: 109px;height: 123px;"/>
                                </li>
                            </foreach>
                        </ul>
                        <dl>
                            <dd> <a href="javascript:;"><img src="__PUBLIC__images/ico/6-share.png" alt="6-share.png"/>&nbsp;&nbsp;分享</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:;"><img src="__PUBLIC__images/ico/6-collect.png" alt="6-collect.png"/>&nbsp;&nbsp;收藏商品 （37006人气）</a></dd>
                            <dd><a href="javascript:;">举报</a></dd>
                        </dl>
                    </div>
                    <div class="text">
                        <h3>{$details.goods_name}</h3>
                        <h4>蓝牙功能 一百小时播放 HIFI无损 </h4>
                        <p class="much">原价：    <span>¥ {$details.market_price}</span></p>
                        <p >抢购价：  ¥ <b id="desc_price">{$details.shop_price}</b></p>

                        <foreach name="spec" item="s" key="k">
                        <dl class="type">
                            <dt>{$k}</dt>
                            <dd>
                                <ul class="row">
                                    <foreach name="s" item="i">
                                    <li class="col-sm-3 col-xs-3">
                                        <a <empty name="key">class="default"</empty> href="javascript:;" data-item-id="{$i.id}" data-item-spec_id="{$i.spec_id}">{$i.item}</a>
                                    </li>
                                    </foreach>
                                    <!--<li class="col-sm-3 col-xs-3">-->
                                        <!--<a href="javascript:;">套餐一</a>-->
                                    <!--</li>-->
                                    <!--<li class="col-sm-3 col-xs-3">-->
                                        <!--<a href="javascript:;">套餐二</a>-->
                                    <!--</li>-->
                                    <!--<li class="col-sm-3 col-xs-3">-->
                                        <!--<a class="default" href="javascript:;">套餐三</a>-->
                                    <!--</li>-->
                                </ul>
                                <div id="show"></div>
                            </dd>

                        </dl>
                        </foreach>
                        <dl class="number">
                            <dt>数量：</dt>
                            <dd>
                                <input type="text" id="num" value="1"/>
										<span>
											<span class="add"><img src="__PUBLIC__images/ico/6-add.png" alt="6-add.png"/></span>
											<span class="reduce"><img src="__PUBLIC__images/ico/6-reduce.png" alt="6-reduce.png"/></span>

										</span>
                            </dd>
                            <dd>件</dd>
                            <dd id="stock">库存{$details.stock}件</dd>
                        </dl>
                        <p class="chan">已选择“<small><a href="javascript:;">蓝色套餐三 （1）件</a></small>”</p>
                        <p id="addtocar"><a class="button" href="confirm_order.html">立即购买</a><a class="button" href="#" onclick="addtocar({$details.id})">加入购物车</a></p>
                        <dl class="simply">
                            <dt>规格参数：</dt>
                            {$details.goods_desc.content}
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--contain-end-->
</form>
<script>
    //----------------详情信息------------------------
    $(function(){
        get_group_price();
    });
    $('.type ul li a').click(function(){
            $(this).parents('li').siblings().find('a').removeClass('default');
            $(this).toggleClass('default');

            get_group_price();
        });
    function get_group_price(){
        var spec_key=[];
        //遍历选中的选项id
        $('.type ul li a.default').each(function(){
            spec_key.push($(this).attr('data-item-id'));
        });

        var id={$Think.get.id};
        $.get('{:U("Goods/AjaxGetGroup")}',{spec_key:spec_key.sort(sortNumber).join(','),id:id},function(data) {
            console.log(data);
            var price=data.spec_price;
            var stock=data.spec_stock;
            if(price.length!=0){
                $('#desc_price').html(data.spec_price);
            }
            if(stock.length!=0){
                $('#stock').html('库存'+data.spec_stock+'件');
            }

        },'json'
        );
    }

    function sortNumber(a,b){
        return a - b;
    }

    //----------------购物车------------------------
    function addtocar(gid){
        var num = $('#num').val();
        var spec_key=[];
        //遍历选中的选项id
        $('.type ul li a.default').each(function(){
            spec_key.push($(this).attr('data-item-id'));
        });

        // alert(gid);
        $.post('{:U("Car/add")}',{
            goods_id:gid,
            number:num,
            goods_spec_key:spec_key.sort(sortNumber).join(',')
        },function(data){
            console.log(data);
            alert(data.msg);
            if (data.code==0) {
                return false;
            }

            //修改头部购物车信息
            $('.cart #headcartnum').html(data.statistic.number);
            
        },'json');
    }

</script>