
<div class="cart">
    <div class="container">
        <ul class="car-nav row">
            <li class="col-xs-4">购物车</li>
            <li class="col-xs-4">确认订单</li>
            <li class="col-xs-4">完成订单</li>
        </ul>
        <br />
        <h3><img src="__PUBLIC__images/ico/10-cart-title.jpg" alt="10-cart-title.jpg" />购物车</h3>
        <div class="row allCheck">
            <div class="col-md-2 col-sm-3 col-xs-12">
                <label>
                    <input type="checkbox" id="checkAll" onclick="checkall(this)" /> 全选
                </label>
            </div>
            <div class="col-md-2 col-sm-3 hidden-xs">
                商品
            </div>
            <div class="col-md-2 col-sm-2 hidden-xs">
                商品信息
            </div>
            <div class="col-md-2 hidden-sm hidden-xs">
                单价
            </div>
            <div class="col-md-2 col-sm-2 hidden-xs">
                数量
            </div>
            <div class="col-md-2 col-sm-2 hidden-xs">
                操作
            </div>
        </div>
        <!--cart-list-->
        <div class="cart-list row">
            <ul>
                <foreach name="list" item="v">
                <php>
                    $price = !empty($v['spec_price']) ? $v['spec_price'] :$v['shop_price'];
                    $stock = !empty($v['spec_stock']) ? $v['spec_stock'] :$v['stock'];
                </php>
                
                <li class="col-sm-12 ">
                    <div class="col-md-2 col-sm-3 left1">
                        <label>
                            <input type="checkbox" name="check" id="check" value="{$v.id}" onclick="choose(this)" <eq name="v.status" value="1">checked</eq> style="width: 20px; height: 20px;" />
                        </label>
                        <a href="{:U('Goods/pro_details',['id'=>$v['goods_id']])}"><img src="/{$v.image}" style="width: 101px;height: 110px;" /></a>
                    </div>

                    <div class="col-md-2 col-sm-3">
                        <p><a href="{:U('Goods/pro_details',['id'=>$v['goods_id']])}">{$v.goods_name}</a></p>
                    </div>
                    <div class="col-md-2 col-sm-2 ">
                        <p>颜色：白色</p>
                        <p>套餐一</p>
                    </div>
                    <div class="col-md-2 hidden-sm">
                        <p >￥：<span class="price">{$price}</span></p>
                        <p>特价</p>
                    </div>
                    <input id="stock" type="hidden" name="stock" value="{$stock}">
                    <div class="col-md-2 col-sm-2">
                        <span class="reduce">-</span>
                        <input type="text" id="number" value="{$v.number}" onchange="goods_num(this)" />
                        <span class="add">+</span>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <p><a href="javascript:;">移入收藏夹</a></p>
                        <p class="dele"><a href="javascript:;">删除</a></p>
                    </div>
                </li>
                </foreach>
            </ul>
        </div>
        <!--cart-list-end-->
        <div class="all">
            <p>共<span class="total_num" style="color: #fff;">{$statistic.number}</span>件商品，商品应付金额：<span >￥<span class="total_price">{$statistic.count}</span></span></p>
            <a class="button" href="javascrip:;" onclick="gotopay()">立即结算</a>
        </div>

    </div>
</div>
<script type="text/javascript">

    //输入框的中数量
    function goods_num(o){
        var num = $(o).val();
        var stock = $(o).parent().prev().val();
        alert(num);
        
        if (num <=1) {
            num = 1;
        }
        if (num >= stock) {
            alert('购买的商品数量不能超过库存量');
            num = stock;
        }
        var id=$(o).parents('li').find('#check').val();
        // alert(id);
        $.post('{:U("Home/Car/textnum")}',{
            id:id,
            number:num,
        },function(data) {
            console.log(data);
            $('.total_price').html(data.statistic.count);
            $('.total_num').html(data.statistic.number);
            $(o).val(data.num);
            //修改头部购物车信息
            $('.cart #headcartnum').html(data.statistic.number);
        },'json'
        );
    }

    //减少数量*********************************
    $(".cart .cart-list ul li div .reduce").click(function(){
    
        $(this).parents("li").find(".left1").find("label").find("input").prop("checked",true);
        $(this).parents("li").find(".left1").find("label").addClass("default");
        var num1=parseInt($(this).siblings("#number").val());
        num1--;
        if(num1<1){return}
        $(this).siblings("#number").val(num1);  

        var id=$(this).parents('li').find('#check').val();
        // alert(num1);
        $.post('{:U("Home/Car/mins")}',{
            id:id,
            number:num1
        },function(data) {
            // console.log(data);
            $('.total_price').html(data.statistic.count);
            $('.total_num').html(data.statistic.number);
            //修改头部购物车信息
            $('.cart #headcartnum').html(data.statistic.number);
        },'json'
        );

         // getTotal()
         check()
    });

    //增加数量*********************************
    $(".cart .cart-list ul li div .add").click(function(){
        var stock = $(this).parent().prev().val();
        // alert(stock);
        $(this).parents("li").find(".left1").find("label").find("input").prop("checked",true);
        $(this).parents("li").find(".left1").find("label").addClass("default")
        var num1=parseInt($(this).siblings("#number").val());
        num1++;
        if(num1>stock){
            alert('购买的商品数量不能超过库存量');
            num1=stock;}
        $(this).siblings("#number").val(num1);

        var id=$(this).parents('li').find('#check').val();
        // alert(num1);
        $.post('{:U("Home/Car/plus")}',{
            id:id,
            number:num1,
        },function(data) {
            // console.log(data);
            $('.total_price').html(data.statistic.count);
            $('.total_num').html(data.statistic.number);
            //修改头部购物车信息
            $('.cart #headcartnum').html(data.statistic.number);
        },'json'
        );

         // getTotal()
         check()
    });

    //删除*********************************
    $(".cart .cart-list .dele").click(function(){
        $(this).parents(".cart .cart-list li").remove();

        var id=$(this).parents('li').find('#check').val();
        $.post('{:U("Home/Car/del")}',{
            id:id
        },function(data) {
            alert(data.msg);
            if (data.code==0){
                return false;
            }
            $('.total_price').html(data.statistic.count);
            $('.total_num').html(data.statistic.number);
            //修改头部购物车信息
            $('.cart #headcartnum').html(data.statistic.number);
        },'json'
        );  
         // getTotal()
         check()
    });

    //多选框选中时
    function choose(o){
        //多选框属性是否选中
        var checked = $(o).prop('checked');

//        //根据多选框属性判断选中状态
//        var status = checked== true ? 1 : 0;
//        alert(status);
        var id = $(o).val();
        $.post('{:U("Car/choose")}',{
            id:id,
            checked:checked
        },function(data){
            if(data.code==1){
                $('.total_price').html(data.statistic.count);
                $('.total_num').html(data.statistic.number);
            }
        },'json');
    }

    //全选
    // $(".cart .allCheck #checkAll").click(function(){
    //     $('.cart .cart-list li label input').prop("checked", $(".cart .allCheck #checkAll").prop("checked"));
    //     $('.cart .cart-list li label input').each(function () {
    //         choose(this);
    //     })
    // });

    function checkall(o){
        var id=[];
         var checked = [];
        $('.cart .cart-list li label input').prop("checked", $(".cart .allCheck #checkAll").prop("checked"));
        $('.cart .cart-list li label input').each(function () {
            checked.push($(this).prop("checked"));
            id.push($(this).val());
        })
        $.post('{:U("Car/chooseAll")}',{
                id:id,
                checked:checked
            },function(data){
                console.log(data);
                if (data.code==0) {
                    alert(data.msg);
                    return false;
                }
                
                $('.total_price').html(data.statistic.count);
                $('.total_num').html(data.statistic.number);

            },'json');
        
    }

    //点击立即结算时判断是否有登录
    function gotopay(){
        $.post('{:U("Car/login")}',{},function(data){
                if(data.code==0){
                    alert(data.msg);
                    window.location.href=data.url;
                    return false;
                }
                window.location.href=data.url;
        },'json');
    }

</script>
