<script src="__PUBLIC__Uploadify/jquery.uploadify.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__Uploadify/uploadify.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__css/goods_add.css">



<div class="panel admin-panel">
    <div class="panel-head" id="add">
        <strong>
            <span class="icon-pencil-square-o"></span>
            <empty  name="Think.get.id">增加<else />修改</empty>内容
        </strong>
    </div>
    <div class="body-content">
        <form method="post" class="form-x" action="" enctype="multipart/form-data">
            <div class="form-group">
                <div class="label">
                    <label>商品名称：</label>
                </div>
                <div class="field">
                    <input type="text" class="input w50" name="goods_name" value="{$goods.goods_name|default=''}"/>
                    <div class="tips"></div>
                </div>
            </div>
            
            <div class="form-group">
                <div class="label">
                    <label>品牌：</label>
                </div>
                <div class="field">
                    <select name="brand_id" class="input w50">
                        <option>请选择商品品牌</option>
                        <foreach name="brand" item="val">
                            <option value="{$val.id}" <eq name="val['id']" value="$goods['brand_id']">selected="selected"</eq> >{$val.brand_name}</option>
                        </foreach>
                    </select>
                    <div class="tips"></div>
                </div>
            </div>

            <div class="form-group">
                <div class="label">
                    <label>商品分类：</label>
                </div>
                <div class="field">
                    <select name="category_id" class="input w50">
                        <option>请选择商品分类</option>
                         <foreach name="cate" item="v">
                            <option value="{$v.id}"  <eq name="v['id']" value="$goods['category_id']">selected="selected"</eq> >{:str_repeat('&nbsp;&nbsp;&nbsp;&nbsp;',$v['level']-1)}{$v.cate_name}</option>
                        </foreach>
                      
                    </select>
                    <div class="tips"></div>
                </div>
            </div>

            <div class="form-group">
                <div class="label">
                    <label>市场价格：</label>
                </div>
                <div class="field" >
                    <input type="text" class="input w50" name="market_price" value="{$goods.market_price|default=''}"/>
                </div>
            </div>

            <div class="form-group">
                <div class="label">
                    <label>商店价格：</label>
                </div>
                <div class="field" >
                    <input type="text" class="input w50" name="shop_price" value="{$goods.shop_price|default=''}"/>
                </div>
            </div>

            <div class="form-group">
                <div class="label">
                    <label>库存：</label>
                </div>
                <div class="field" >
                    <input type="text" class="input w50" name="stock" value="{$goods.stock|default=''}"/>
                </div>
            </div>

            <div class="form-group">
                <div class="label">
                    <label>图片：</label>
                </div>
                <div class="field">
                    <input id="file_upload" name="file_upload" type="file" multiple="true" value="+ 浏览上传">
                    <!--<input type="button" class="button bg-blue margin-left" id="image1" value="+ 浏览上传"  style="float:left;" onclick="uploadpic()">-->
                    <div id="queue">
                        <notempty name="Think.get.id">
                            <dl style="float: left; margin-right:10px;" id="">
                            <dt style="border: 1px solid red;padding: 5px;"><img src="/{$goods.image}" width="100" height="100"></dt>
                            <input type="hidden" name="image" value="{$goods.image}">
                            <dd style="text-align: center;">
                                <button onclick="mainpic(this)" style="margin-right: 5px" type="button">主图</button>
                                <button onclick="delpic(this)" type="button">删除</button>
                                </dd>
                            </dl>
                           <foreach name="goods.goods_pic" item="v">
                               <dl style="float: left; margin-right:10px;">
                                   <dt style="border: 1px solid #999;padding: 5px;"><img src="/{$v['photo']}" width="100" height="100"></dt>
                                   <input type="hidden" name="pic[]" value="{$v['photo']}">
                                   <dd style="text-align: center;">
                                       <button onclick="mainpic(this)" style="margin-right: 5px" type="button">主图</button>
                                       <button onclick="delpic(this)" type="button">删除</button>
                                   </dd>
                               </dl>
                           </foreach>
                       </notempty>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="label">
                    <label>规格：</label>
                </div>
                <div class="field">
                    <button type="button" id="spec_button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" onclick="add_spec()" style="margin-bottom: 10px;">
                        添加规格
                    </button>
                    <div id="spec_body" style="margin:10px 0;">
                        <style type="text/css">
                             #spec_body tr{margin-bottom:5px;}
                        </style>
                        <div>
                            {$spec_group}
                        </div>
                    </div>

                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">规格选项</h4>
                                </div>

                                <div class="modal-body">
                                    <div class="spec_list">
                                        <ul class="tab">
                                            <foreach name="goods_type" item="value" key="key">
                                                <li <eq name="key" value="0">class="cur"</eq>>{$value.type_name}</li>
                                            </foreach>
                                        </ul>
                                        <div class="tab-body">
                                            <foreach name="goods_type" item="value" key="k">
                                                <div class="body <eq name="key" value="0">cur</eq>">
                                                <foreach name="value['spec']" item="v" key="k">
                                                    <dl>
                                                        <dt>{$v.spec_name}</dt>
                                                        <foreach name="v['spec_item']" item="item">
                                                            <dd  data-item-id="{$item.id}" data-item-spec_id="{$item.spec_id}">{$item.item}</dd>
                                                        </foreach>
                                                        <p style="clear: both;"></p>
                                                    </dl>
                                                </foreach>
                                                </div>
                                            </foreach>
                                         </div>

                                </div>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="saveitem()">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <div class="label">
                    <label>内容：</label>
                </div>
                <div class="field">
                    <!-- <div class="col-sm-10"> -->
                        <!-- 加载编辑器的容器 -->
                        <textarea id="container" name="content" type="text/plain" style="margin-right:  15px; height: 250px;">{$goods.goods_desc.content|default=''}</textarea>
                        <!-- 配置文件 -->
                        <script type="text/javascript" src="__PUBLIC__utf8-php/ueditor.config.js"></script>
                        <!-- 编辑器源码文件 -->
                        <script type="text/javascript" src="__PUBLIC__utf8-php/ueditor.all.js"></script>
                        <!-- 实例化编辑器 -->
                        <script type="text/javascript">
                            var ue = UE.getEditor('container');
                        </script>
                    <!-- </div> -->
                    <div class="tips"></div>
                </div>
            </div>

            
            <div class="form-group">
                <div class="label">
                    <label></label>
                </div>
                <div class="field">
                    <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">

//    function add_spec(){
//        $.ajax({
//            type:'post',
//            url:'{:U("Goods/add_spec")}',
//            data:{id:item_id,spec_id:spec_id},
//            dataType:'html',
//            success:function(data){
////                 console.log(data);
//                $('#spec_body').html(data);
//            },
//            error:function(e){
//            }
//        })
//    }

    function saveitem(){
        var item_id=[];
        var spec_id=[];
        var gid={$Think.get.id};
        $('.spec_list dd.cur').each(function () {
            item_id.push($(this).attr('data-item-id'));
            spec_id.push($(this).attr('data-item-spec_id'));
        })
//
        // console.log(item_id);
        // console.log(spec_id);

        $.ajax({
            type:'post',
            url:'{:U("Goods/handel_group")}',
            data:{id:item_id,spec_id:spec_id,gid:gid},
            dataType:'html',
            success:function(data){
//                 console.log(data);
                $('#spec_body').html(data);
            },
            error:function(e){
            }
        })
    }

    $('.spec_list .tab li').click(function(){
        $(this).parent().find('li').removeClass('cur');
        $(this).addClass('cur');

        //找到li所在的位置/索引
        var index = $('.spec_list .tab li').index(this);
         $('.spec_list .tab-body .body').css({display:'none'});
         $('.spec_list .tab-body .body').eq(index).css({display:'block'});
    });

//$(function () {
//    //找到li所在的位置/索引
//    var index = $('.spec_list .tab li').index(this);
//    var index2=$('.spec_list .tab-body .body').index(this);
//    $('.spec_list .tab-body .body').css({display:'none'});
//    $('.spec_list .tab-body .body').eq(index).css({display:'block'});
//})


    $('dd').click(function(){
        $(this).parents('.body').siblings().find('dd').removeClass('cur');
        $(this).toggleClass('cur');
    })

    //-----------------图片上传--------------------
    $(function() {
        $('#file_upload').uploadify({
            'buttonText' : '+ 浏览上传',
            'swf'      : '__PUBLIC__Uploadify/uploadify.swf',
            'buttonClass':'button bg-blue',
            'height':42,
            'width':102,
            'uploader' : "{:U('Common/uploadify')}",
            'fileObjName' : 'img',
            'onUploadSuccess' : function(file, data, response) {
//                console.log('The file ' + file.name + ' was successfully uploaded with a response of ' + response + ':' + data);
                var data = eval("("+data+")");
                console.log(data);
                if(data.error==0){
                    var html=
                            ' <dl style="float: left; margin-right:10px; " id="'+file.id +'">'+
                            '<dt style="border: 1px solid #999;padding: 5px;"><img src="/'+data.path+'" width="100" height="100"></dt>'+
                            '<input type="hidden" name="pic[]" value="'+data.path+'">'+
                            '<dd style="text-align: center;">' +
                            '<button onclick="mainpic(this)" style="margin-right: 5px" type="button">主图</button>' +
                            '<button onclick="delpic(this)" type="button">删除</button>'+
                            '</dd>' +
                            '</dl>';
                    $('#queue').append(html);
                }
            }
        });
    });

    function mainpic(obj){
        //先把所有的input里的属性name的值全改成pic
        $(obj).parents('#queue').find('input[type="hidden"]').prop('name','pic[]');
        //当设置主图时，令选中为主图照片的input里的属性name的值改成image
        $(obj).parent('dd').siblings('input[type="hidden"]').prop('name','image');

        //先把所有的边框变成默认的颜色
        $(obj).parents('#queue').find('dt').css({border:'1px solid #999'});
        //当被设置为主图时，令选中为主图照片的边框样式改成红色
        $(obj).parents('dl').find('dt').css({border:'1px solid red'});
    }

    function delpic(obj){
        $(obj).parents('dl').remove();
    }

</script>