<!--<link rel="stylesheet" type="text/css" href="__PUBLIC__css/goods_add.css">-->
<!--<div class="spec_list">-->
    <!--<ul class="tab">-->
        <!--<foreach name="goods_type" item="value" key="key">-->
            <!--<li <eq name="key" value="0">class="cur"</eq>>{$value.type_name}</li>-->
        <!--</foreach>-->
    <!--</ul>-->
    <!--<div class="tab-body">-->
        <!--<foreach name="goods_type" item="value" key="k">-->
            <!--<div class="body <eq name="key" value="0">cur</eq>">-->
            <!--<foreach name="value['spec']" item="v" key="k">-->
                <!--<dl>-->
                    <!--<dt>{$v.spec_name}</dt>-->
                    <!--<foreach name="v['spec_item']" item="item">-->
                        <!--<dd  data-item-id="{$item.id}" data-item-spec_id="{$item.spec_id}">{$item.item}</dd>-->
                    <!--</foreach>-->
                    <!--<p style="clear: both;"></p>-->
                <!--</dl>-->
            <!--</foreach>-->
    <!--</div>-->
    <!--</foreach>-->
<!--</div>-->

