<div class="footer">
    <ul class="container">
        <li>share：
            <a href="javasrcipt:;"><img src="__PUBLIC__images/common/footer_QQ.png" alt="QQ"/></a>
            <a href="javasrcipt:;"><img src="__PUBLIC__images/common/footer_weibo.png" alt="weibo"/></a>
            <a href="javasrcipt:;"><img src="__PUBLIC__images/common/footer_weixin.png" alt="weixin"/></a>
        </li>
        <li>Copyright © 2004 Adobe Systems Incorporated. All rights reserved.</li>
    </ul>
</div>
</form>
</body>
</html>